.button-info, .button-edit {
    padding: 10px 40px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-info {
    background-color: #18a0fb;
}

.button-edit {
    background-color: #ff9800;
}

.button-delete {
    padding: 10px 40px;
    border: 1px solid #dc2323;
    border-radius: 4px;
    background-color: white;
    color: #dc2323;
    cursor: pointer;
}